.graph-container{
    background-color: #1f2029;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    border-radius: 10px;
    padding:1%;
    width:100%;
}
.activity-wrapper{
    display: flex;
    justify-content: space-between;
    width:100%;
}
.MuiChartsAxis-root .MuiChartsAxis-line{
    stroke: white !important;
}
.MuiChartsGrid-line{
    stroke: rgba(245, 236, 236, 0.4) !important;
}
.dropdown-time{
    background-color: #292b2f;
    padding: 6px 10px 6px 10px;
    border-radius: 20px;
    font-size: 12px;
    display: flex;
    align-items: center;
    gap: 0.2em;
}
.item-wrapper{
    background-color: #1f2029;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    border-radius: 10px;
    padding:2%;
    width:100%;
    gap:2em;
}
.goal-wrapper{
    display: flex;
    gap:1em;
    width:100%;
    align-items: center;
}
.forward-wrapper{
    background-color: #292b2f;
    border-radius: 50%;
    margin-left: auto;
    padding: 3%;
}
.icon-wrpper{
    padding:1%;
    border-radius: 50%;
}
@media only screen and (min-width: 900px) {
    .graph-container{
        height:100%;
    }
    .item-wrapper{
        height:100%;
    }
    .grid-container{
        height:100%;
    }
  }
 

  @media only screen and (max-width: 600px) {
    .activity-wrapper{
       padding:2%;
    }
    .item-wrapper{
        padding:3%;
    }
  }