.main-container{
    background-color: black;
    display:flex;
   justify-content: flex-start;
   height:100%;
   color:white;
}
.netprofit-heading{
    font-size: 28px;
    font-weight: 700;
}
.dashboard-wrapper{
    padding: 2%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    gap: 1rem;
    width:100%;
}